<div class="page-panel">
  <div class="heading">
    <div style="float:left">
      <h1>myVeeta Job Verwaltung</h1>
      <div class="job-info">
        Neue Jobs anlegen, editieren und deaktivieren
      </div>
    </div>
    <div class="pull-right sharing_request_box" >
      <div class="apply-button"></div>
      <div class="apply-button-description">Platzieren Sie den "Jetzt bewerben" Button in Ihrer Job-Anzeige um Bewerber direkt zur myVeeta
      Bewerbungsmaske zu leiten.
      </div>
      <div>
        <div id="embed-code" class="embed-code"><%= "<a href='[Ihr Job-Link hier]' target='_blank' style='background: url(https://files.myveeta.com/static/images/myveeta_apply_button.png) no-repeat;display: block;background-size: contain;width:200px;height:44px'></a>"%></div>

        &nbsp;&nbsp;<a href="#" id="copy-embed-code-to-clipboard" class="btn btn-primary">Kopieren</a></div>
    </div>
    <div style="clear:both; padding-top: 15px;"></div>
  </div>
  <div class="body">

    <div class="job-box">
      <div class="job-box-heading">
        JOB TITEL
      </div>
      <div class="job-box-list">
        <ul class="list-unstyled" >
          <% if @jobs.empty? %>
            <li ><div class="data col-xs-8">Noch keine Jobs angelegt.</div></li>
            <br />
          <% end %>
          <!-- Unsolicited JOBS -->
          <% @unsolicited_jobs.each do |job| %>
            <li class="<%= job.closed? ? 'row disabled-job' :'row' %>">
              <div id="<%= job.name %>" class="data col-xs-8">
                Initiativbewerbung
                <div>
                  <% if Rails.env.production? && job.ext_id %>
                    Link zur Bewerbung: <a href=<%= "#{ENV['MYVEETA_WEBSITE_URL']}/apply/#{job.ext_id}" %> class="normal" target='_blank' ><%= "#{ENV['MYVEETA_WEBSITE_URL']}/apply/#{job.ext_id}" %></a>

                  <% elsif !Rails.env.production? && job.ext_id %>
                    Link zur Bewerbung: <a href=<%= "#{ENV['TALENT_HOST']}/apply/#{job.ext_id}" %> class="normal" target='_blank' ><%= "#{ENV['TALENT_HOST']}/apply/#{job.ext_id}" %></a>
                  <% else %>
                    Link zur Bewerbung: <a href=<%= "#{ENV['TALENT_HOST']}/jobs/#{job.id}" %> class="normal" target='_blank' ><%= "#{ENV['TALENT_HOST']}/jobs/#{job.id}" %></a>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="row">
                  <span class="col-md-6 col-xs-6">
                    <% unless job.closed? %>
                      <%= link_to 'Deaktivieren', disable_job_job_path(job),{class: 'normal', method: :put} %>
                    <% else %>
                      Deaktiviert
                    <% end %>
                  </span>
                  <span class="col-md-6 col-xs-6 text-right">
                    <% unless job.closed? %>
                      <button id="<%= job.id %>" class="btn btn-view edit-button">Editieren</button>
                    <% end %>
                  </span>
                </div>
              </div>
            </li>
          <% end %>
          <!-- Regular JOBS -->
          <% @jobs.each do |job| %>
            <li class="<%= job.closed? ? 'row disabled-job' :'row' %>">
              <div id="<%= job.name %>" class="data col-xs-8">
                <%= job.name %>
                <div>
                  <% if Rails.env.production? && job.ext_id %>
                    Link zur Bewerbung: <a href=<%= "#{ENV['MYVEETA_WEBSITE_URL']}/apply/#{job.ext_id}" %> class="normal" target='_blank' ><%= "#{ENV['MYVEETA_WEBSITE_URL']}/apply/#{job.ext_id}" %></a>

                  <% elsif !Rails.env.production? && job.ext_id %>
                    Link zur Bewerbung: <a href=<%= "#{ENV['TALENT_HOST']}/apply/#{job.ext_id}" %> class="normal" target='_blank' ><%= "#{ENV['TALENT_HOST']}/apply/#{job.ext_id}" %></a>
                  <% else %>
                    Link zur Bewerbung: <a href=<%= "#{ENV['TALENT_HOST']}/jobs/#{job.id}" %> class="normal" target='_blank' ><%= "#{ENV['TALENT_HOST']}/jobs/#{job.id}" %></a>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="row">
                  <span class="col-md-6 col-xs-6">
                    <% unless job.closed? %>
                      <%= link_to 'Deaktivieren', disable_job_job_path(job),{class: 'normal', method: :put} %>
                    <% else %>
                      Deaktiviert
                    <% end %>
                  </span>
                  <span class="col-md-6 col-xs-6 text-right">
                    <% unless job.closed? %>
                      <button id="<%= job.id %>" class="btn btn-view edit-button">Editieren</button>
                    <% end %>
                  </span>
                </div>
              </div>
            </li>
          <% end %>
          <li class="row">
            <%= form_for Job.new, :url => create_job_recruiters_path do |f| %>
              <div class="col-xs-8 col-sm-8 col-lg-8 add-job form-group">
                <!-- <input class="add-job"></input> -->
                <%= f.text_field :name %>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <button type="submit" id="create_job_button" class="btn btn-add pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp; Job anlegen</button>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>  <!-- Job box ends here -->
    <!-- Job edit box -->
    <div id="job-edit-box" class="job-edit-box" style="display:none;">
      <div class="job-edit-box-heading">
        Job editieren
        <div class="pull-right">
          <a href="#" id="close-edit" style="color:white; text-decoration:none;">X</a>
        </div>
      </div>
      <div class="job-edit-box-details">
        <form class="form-horizontal" style="margin: 10px;" accept-charset="UTF-8" action="/recruiters/update_job" method="post" >
          <!-- <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Job Name</label>
            <div class="col-sm-10">
              <input type="text" id="edit-job-name" class="form-control"></input>
            </div>
          </div> -->
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Job Titel</label>
            <div class="col-sm-10">
              <input id="edit-job-name" name="job[name]" type="text" />
              <input type="hidden" id="edit_job_id" name="job[id]" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
              <button id="update_job_button" type="submit" class="btn btn-view btn-edit">Übernehmen</button>
              <%#= button_to "Update Job", update_job_recruiters_path,
   { :class => 'btn btn-view'} %>
            </div>
          </div>
        </form>

      </div>
    </div>
    <!-- Job box ends here -->
  </div>
</div>
