<!DOCTYPE html>
<html>
<head>
  <title>myVeeta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12 veeta-header">
  			<div class="row">
  				<div class="col-md-4">
  				</div>
  				<div class="col-md-4 veeta-logo-container">
            <div class="veeta-logo">
            </div>
            <div class="pull-right sign-out">
              <% if signed_in? %>
                <%= link_to 'Ausloggen', destroy_recruiter_auth_session_path, :method=>'delete' %>
              <% end %>
            </div>
  				</div>
  				<div class="col-md-2">
  				</div>
  				</div>
  				<div class="col-md-4">
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-4">
  		</div>

      <div class="col-md-4 center-box">
          <%= yield %>
      </div>

      <div class="col-md-4">
      </div>
    </div>
  </div>
  <%= render 'layouts/ga_footer' %>
</body>
</html>
