<!DOCTYPE html>
<html>
<head>
  <title>myVeeta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "favicon.png" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="common" class="recruiter_interface">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12 veeta-header">
  			<div class="row">
  				<div class="col-md-2">
  				</div>
  				<div class="col-md-8 veeta-logo-container">
            <div class="veeta-logo">
            </div>
            <div class="pull-right sign-out">
              <% if signed_in? %>
                <%= link_to 'Ausloggen', destroy_recruiter_auth_session_path, :method=>'delete' %>
              <% end %>
            </div>
  				</div>
  				<div class="col-md-2">
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-2">
  		</div>

      <div class="col-md-8 center-box">
        <% if signed_in? %>
          <%= render 'job_mgmt/partials/menu' %>
        <% end %>
        <div class="content-area">
          <%= yield %>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
  <%= render 'layouts/ga_footer' %>
</body>
</html>
