<% unless additional_info.blank? %>
  <div>
    <i><%= raw(html_encode additional_info) %></i>
    <% if  _education.description.present? %>
      <br/>
    <% end %>
  </div>
<% end %>
<% unless _education.description.blank? %>
  <div>
    <%= raw(html_encode _education.description) %>
  </div>
<% end %>
