<div id="no-cv"><%= t("veetabutton.authorize.cvmgmt.empty.text_html",client_application_name: session[:client_application_name], veeta_link:  "#{ENV['TALENT_HOST']}resumes/overview") %></div>
<script>
$("#no-cv a").click(function(e){
  ga('send', 'event', 'link', 'click', 'resume-page', rid);
});
</script>
