<ul class="list-group">
  <% @resumes.each_with_index do |r, i|  %>
    <li class="list-group-item <%= i==0 ? 'active' : '' %>" data-rid="<%= r.id %>">
      <div class="resume-detail-area">
        <div class="inner">
          <div><%= r.name %></div>
          <div class="small-text"><%= t('veetabutton.authorize.cvmgmt.lastupdate')  %> <%= l(r.updated_at, format: :veeta_button_cv_selection) %></div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
