			<p class="text-primary lead">
				<%= t('veetabutton.login.subtitle',client_application_name: @token.client_application.name)  %>
			</p>

			<%= bootstrap_form_tag url: authorize_url do |f| %>

			  <%= f.hidden_field :oauth_token, value: @token.token %>
			  <%- if params[:oauth_callback] -%>
			    <%= f.hidden_field "oauth_callback", value: params[:oauth_callback] %>
			  <%- end -%>

			  <div class="resumes-list">
					<% if @resumes.nil? || @resumes.empty? %>
						<%= f.hidden_field "authorize", class: "selected_rid", value: nil %>
						<%= render 'oauth/oauth/no_resumes' %>
					<% else %>
						<%= f.hidden_field "authorize", class: "selected_rid", value: @resumes.first.id %>
						<%= render 'oauth/oauth/resume_selection' %>
					<% end %>
			  </div>

			  <div class="info-area">
			    <%= t('veetabutton.authorize.cvmgmt.text')  %> <a href="<%= ENV['TALENT_HOST'] %>"  target="_blank" class="normal", onclick="javascript:ga('send', 'event', 'link', 'click', 'veeta-website');"><%= t('veetabutton.authorize.cvmgmt.link')  %></a>
				</div>

			  <div class="form-actions">
			    <% unless(session[:cancel_url].nil?) %>
			      <%= link_to(t('veetabutton.login.button.cancel'), "/v1/cancel_oauth_handshake", class: "btn btn-default pull-left",onclick: "javascript:ga('send', 'event', 'button', 'click', 'cancel-authorize');", :method => :post) %>
			    <% end %>

			    <%= f.submit t('veetabutton.login.button.continue') , class: "btn btn-primary pull-right", onclick: "javascript:ga('send', 'event', 'button', 'click', 'authorize');" %>  <!--t('veetabutton.login.button.continue')-->
			  </div>
				<div class="clearfix"></div>

			<% end %>


<script>
  $(".list-group-item").click(function(e){
    rid = $(this).data('rid');
    $(".selected_rid").val(rid);
		ga('send', 'event', 'resumes-list', 'click', 'cv-selection', rid);
  });
</script>
