<p class="text-primary lead">
  <%= t('veetabutton.common.error') %><% if @token.client_application.url %> <a href="<%= @token.client_application.url %>"  class="normal" onclick= "javascript:ga('send', 'event', 'link', 'click', 'error-back');"><%= t('veetabutton.common.back') %></a><% end %>
</p>
<script>
		ga('send', 'pageview', 'authoriziation-error-page');
</script>
