
<% if @client_application.errors.any? %>
  <ul>
    <% @client_application.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="field">
  <label for="client_application_name">Name*</label><br/>
  <%= f.text_field :name %>
</div>
<div class="field">
  <label for="client_application_url">Main Application URL*</label><br/>
  <%= f.text_field :url %>
</div>
<div class="field">
  <label for="client_application_contact">Contact mail*</label><br/>
  <%= f.text_field :contact %>
</div>
<div class="field">
  <label for="client_application_callback_url">Callback URL</label><br/>
  <%= f.text_field :callback_url %>
</div>
<div class="field">
  <label for="client_application_cancel_url">Cancel URL</label><br/>
  <%= f.text_field :cancel_url %>
</div>
<div class="field">
  <label for="client_application_use_cancel_callback">Use Cancle Callback</label><br/>
  <%= f.check_box :use_cancel_callback %>
</div>

<div class="field">
  <label for="client_application_support_url">Support URL</label><br/>
  <%= f.text_field :support_url %>
</div>
<div class="field">
  <label for="client_application_webhook_url">Webhook URL</label><br/>
  <%= f.text_field :webhook_url %>
</div>
<div class="field">
  <label for="client_application_delete_user_profile_deep_link">Delete third party profile deep link</label><br/>
  <%= f.text_field :delete_user_profile_deep_link %>
</div>
<div class="field">
  <label for="client_application_logo">Logo*</label><br/>
  <%= f.file_field :logo %>
</div>
