<h1>OAuth details for <%=@client_application.name %></h1>
<hr/>
<p>
  <img src='<%=@client_application.logo.small %>' />
</p>
<p>
  <strong>Webhook URL:</strong>
  <code><%=@client_application.webhook_url %></code>
</p>
<p>
  <strong>Cancel URL:</strong>
  <code><%=@client_application.cancel_url %></code>
</p>
<p>
  <strong>Use Cancel URL:</strong>
  <code><%=@client_application.use_cancel_callback %></code>
</p>
<p>
  <strong>Delete third party profile deep link:</strong>
  <code><%=@client_application.delete_user_profile_deep_link %></code>
</p>
<hr/>
<p>
  <strong>Consumer Key:</strong>
  <code><%=@client_application.key %></code>
</p>
<p>
  <strong>Consumer Secret:</strong>
  <code><%=@client_application.secret %></code>
</p>
<p>
  <strong>Request Token URL</strong>
  <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.request_token_path %></code>
</p>
<p>
  <strong>Access Token URL</strong>
  <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.access_token_path %></code>
</p>
<p>
  <strong>Authorize URL</strong>
  <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.authorize_path %></code>
</p>

<p>
  We support hmac-sha1 (recommended) as well as plain text in ssl mode.
</p>
<%= link_to 'Edit', edit_oauth_client_path(@client_application) %> |
<%= link_to 'Back', oauth_clients_path %>
