<div class="page-panel">
  <%= link_to talents_path, class: "normal" do %>
    <span class="glyphicon glyphicon-menu-left"></span>Zurück
  <% end %>
  <div class="heading">
    <h1>Bewerberdatenbank Einladung</h1>
  </div>
  <div class="body">

    <%= simple_form_for(@cv_sharing_request) do |f| %>
      <%= f.error_notification %>
      <div><a href="<%= "#{ENV['TALENT_HOST']}/share/#{@cv_sharing_request.ext_id}"%>" target="_blank" id="talent-pool-link" class="normal"><%= "#{ENV['TALENT_HOST']}/share/#{@cv_sharing_request.ext_id}"%></a>

      <div class="form-inputs">
        Hier können Sie den Willkommenstext für Ihren Einladungslink individualisieren.<br/>
        <input type="text" placeholder="z.B.: Herzlich willkommen im der Bewerberdatenbank" maxlength="50" style="width:40%" name="cv_sharing_request[pool_welcome_text]" id="cv_sharing_request_pool_welcome_text" value="<%= @cv_sharing_request.pool_welcome_text %>">
      </div>
      <br/>
      <div class="">
        <%= f.button :submit, 'Einladung speichern', class: "btn btn-primary" %>
      </div>
    <% end %>


  </div>
</div>
