<ul class="nav nav-pills">
  <li <%= 'class=active' if controller.controller_name == 'recruiters' %>><%= link_to 'Jobs', recruiters_path %></li>
  <li <%= 'class=active' if controller.controller_name == 'talents' || controller.controller_name == 'cv_sharing_requests' %>><%= link_to 'Bewerberdatenbank', talents_path %></li>
</ul>
