.btn {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  &:focus,
  &:active,
  &:focus,
  &:active:focus{
    box-shadow: none;
    outline: none;
  }
}

.btn-default {
  background-color: $veeta-gray;
  border-color: $veeta-gray;
  color: $veeta-font-color;

  &:hover {
    background-color: $veeta-gray;
    border-color: $veeta-darker-gray;
    color: $veeta-darker-gray
  }
  &:active, &:focus,
  &:active:focus {
    background-color: white;
    border-color: $veeta-darker-gray;
    color: $veeta-darker-gray
  }
}

.btn-primary {
  background-color: $veeta-dark-accent;
  border-color: $veeta-dark-accent;
  color: white;
  padding: 3px 15px !important;
  &:hover {
    border-color: $veeta-dark-accent;
    background-color: $veeta-gray !important;
    color: $veeta-dark-accent;
  }
  &:active, &:focus,
  &:active:focus {
    border-color: $veeta-dark-accent;
    color: $veeta-dark-accent;
    background-color: white !important;
  }
  &:disabled {
    background-color: $veeta-dark-accent;
    border-color: $veeta-dark-accent;
    color: white;
    padding: 3px 15px !important;
    color:white;
  }
}

.btn-dark {
  background-color: #666;
  border-color: #666;
  color: white;

  &:hover {
    background-color: #777;
    color: white;

  }
}

.btn-submit {
  @extend .btn;
  @extend .btn-primary;
}

.btn-lg,
.btn-group-lg > .btn,
.btn-group-lg > .btn-submit {
  padding: 10px 25px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 0;
}

.btn,
.btn-submit,
.btn-next {
  padding: 0px 7px;
}

.btn-view {
  @extend .btn;
  @extend .btn-default;
}

.btn-new {
  @extend .btn;
  @extend .btn-primary;
}

.btn-submit {
  @extend .btn;
  @extend .btn-primary;
}

.btn-edit {
  @extend .btn;
  @extend .btn-default;
}

.btn-add {
  @extend .btn;
  @extend .btn-submit;
  width: 100%;
  padding: 5px 10px;

}

.btn-upload {
  @extend .btn;
  @extend .btn-primary;
}

.btn-cancel {
  @extend .btn;
  @extend .btn-default;
}

.btn-remove {
  @extend .btn;
  @extend .btn-default;
}

.btn-dark {
  @extend .btn;
  @extend .btn-primary;
}

.big-green-button {
  height: auto !important;
  padding: 7px 12px;
  background: rgb(138, 188, 66);
  color: white;
}
