

form {
  .form-group {
    label{
      font-weight: normal;
    }
    input {
      font-size: 12px;
      color: $veeta-font-color;
      padding: 2px 6px;
      line-height: 20px;
      display: block;
      width: 80%;
      height: 24px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 0;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    *:focus {
      border-color: $veeta-dark-accent;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(76,134,143,.6);
    }
  }
}
