<div class="page-panel">
  <div class="heading">
    <div style="float:left">
      <h1>myVeeta Bewerberdatenbank</h1>
      <div class="job-info">
        Bewerber ansehen, CV downloaden
      </div>
    </div>
    <div class="pull-right sharing_request_box" >
      <div>Wollen Sie Ihre Kandidaten in Ihre Bewerberdatenbank holen? <a href="#" style="text-decoration:none !important;padding-top: 0" data-toggle="popover" data-html="true" class="normal popup-marker glyphicon glyphicon-info-sign" data-content='<%= I18n.t("recruiter.ui.sharing_request.invite_info",locale: :de) %>'></a></div>
      <div>
        <% if Rails.env.production? && @sharing_request.ext_id %>
          <a href=<%= "#{ENV['MYVEETA_WEBSITE_URL']}/share/#{@sharing_request.ext_id}" %> id="talent-pool-link" class="normal" target='_blank' ><%= "#{ENV['MYVEETA_WEBSITE_URL']}/share/#{@sharing_request.ext_id}" %></a>
        <% elsif !Rails.env.production? && @sharing_request.ext_id %>
          <a href=<%= "#{ENV['TALENT_HOST']}/share/#{@sharing_request.ext_id}" %> id="talent-pool-link" class="normal" target='_blank' ><%= "#{ENV['TALENT_HOST']}/share/#{@sharing_request.ext_id}" %></a>
        <% else %>
          <a href=<%= "#{ENV['TALENT_HOST']}/sharing_requests/#{@sharing_request.id}" %> id="talent-pool-link" class="normal" target='_blank' ><%= "#{ENV['TALENT_HOST']}/sharing_requests/#{@sharing_request.id}" %></a>
        <% end %>

        &nbsp;&nbsp;<a href="#" id="copy-to-clipboard" class="btn btn-primary">Kopieren</a></div>
      <div><a href="<%= edit_cv_sharing_request_path(@sharing_request)  %>" class="normal" style="font-size:12px">Einladung anpassen</a></div>
    </div>
    <div style="clear:both; padding-top: 15px;"></div>
  </div>
  <div class="body">

    <div class="job-box">
      <div class="job-box-heading">
        Bewerber
      </div>
      <div class="talent-box-list">
        <ul class="list-unstyled" >
          <div class="row">
            <div class="col-md-12">
              <table class="table talent-table">
                <thead>
                  <tr>
                    <th>
                      Details
                    </th>
                    <th>
                      Zuletzt aktualisiert
                    </th>
                    <th>
                      CV als PDF
                    </th>
                  </tr>
                </thead>
                <tbody>
                <% if @sharings.empty? %>
                  <td colspan="4">Noch keine Bewerber in der Datenbank.</td>
                <% end %>
                <% @sharings.each_with_index do |resume_sharing, i| %>

                  <tr>
                    <td>
                      <% if resume_sharing.resume.talent.avatar_url && resume_sharing.resume.talent.avatar_url[:thumb] %>
                        <img src="<%= resume_sharing.resume.talent.avatar_url[:thumb]%>" style="height:20" />
                        &nbsp;&nbsp;
                      <% end %>
                      <%= resume_sharing.resume.talent.first_name %>
                      <%= resume_sharing.resume.talent.last_name %>
                    </td>
                    <td>
                      <%= I18n.l(resume_sharing.updated_at, format: "%d.%m.%Y" , locale: :de) %>
                    </td>
                    <td>
                      <% if resume_sharing.resume%>
                        <%= link_to 'Download', download_cv_talent_path(resume_sharing) %>
                      <% else %>
                        Wird generiert...
                      <% end %>
                    </td>
                  </tr>

                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </ul>
      </div>
    </div>  <!-- Job box ends here -->

  </div>
</div>
