<div class="col-sm-5">
  <div class= "row" >
    <p class="bg-notice bg-padding">
      <%=flash[:notice].html_safe if flash[:notice] %>
    </p>
  </div>
  <h2>Log in</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
    </div>
    <% if flash[:alert] %>
      <div class="row">
        <div class="col-xs-12 ">
          <p class="bg-danger bg-padding text-center">
            <%=flash[:alert].html_safe%>
            <% if @auth.present? && @auth.access_locked? %>
              <br>
              <%= link_to "Resend unlock e-mail", "/recruiter_auths/unlock?recruiter_auth[email]=#{@auth.email}", method: :post %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <div class="form-actions pull-right">
      <%= f.button :submit, "Log in",  class: "btn btn-submit pull-right"%>
    </div>
  <% end %>
</div>
