

			<p class="text-primary lead">
        <%= t('veetabutton.login.subtitle', client_application_name: session[:client_application_name])  %>
			</p>
			<%= t('veetabutton.login.explanation_html')  %>

			<div class="info-area">
				<a href="#" data-toggle="popover" data-html="true"   data-placement="top" data-content="<%= t('veetabutton.login.data_sharing_info_html', href: ENV['TALENT_HOST'] )  %>"  class="normal popup-marker" onclick="javascript:ga('send', 'event', 'popup', 'click', 'data-sharing-info');"><%= t('veetabutton.login.explanation.resume.explanation.link')  %></a>
			</div>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.input :email, required: false, autofocus: true, label: t('veetabutton.login.email'), class: "box"%>
          <%= f.input :password, required: false, label: t('veetabutton.login.password') %>
        </div>
				<div class="forgot-password-area">
						<a href="<%= ENV['TALENT_HOST'] %>request-password" target="_blank"  class="normal" onclick= "javascript:ga('send', 'event', 'link', 'click', 'forgot-password');"><%= t('veetabutton.login.password_forgot')  %></a>
				</div>
				<% if flash[:alert] %>
					<div class="row"><div class="col-xs-12 "><p class="bg-danger bg-padding text-center"><%=flash[:custom]%></p></div></div>
				<% end %>
        <div class="form-actions">
					<% unless(session[:cancel_url].nil?) %>
						<%= link_to(t('veetabutton.login.button.cancel'), "/v1/cancel_oauth_handshake", class: "btn btn-default pull-left", onclick: "javascript:ga('send', 'event', 'button', 'click', 'cancel-login');", :method => :post) %>
					<% end %>
          <%= f.button :submit, t('veetabutton.login.button.continue') , class: "btn btn-submit pull-right", onclick: "javascript:ga('send', 'event', 'button', 'click', 'login');" %>
        </div>
				<div class="clearfix"></div>
				<div class="sign-up-area">
					<a href="<%= ENV['TALENT_HOST'] %>/sign-up" target="_blank" class="normal" onclick= "javascript:ga('send', 'event', 'link', 'click', 'sign-up');"><%= t('veetabutton.login.register.link')  %></a>
				</div>

      <% end %>
