
html, body {
  height: 100%;
  font-family: $font-family-sans-serif;
  // background-color: #eee;
  color: $veeta-font-color;
  font-weight: 300;
  &.common {
    background-color: white;
  }
  .veeta-header {
    background-color: $veeta-light-accent;
    height:$page-header-height;
    .sign-out {
      position: absolute;
      top: 20px;
      right: 60px;
      a {
        color: white !important;
      }
    }
  }
}



#common {
  background-color: white;
  .veeta-logo {
    margin: 0 auto 0 auto;
    width: 820px;
    margin-left:0px;
    background: image-url('veeta_logo_inverted.png') no-repeat 40px;
    height: 35px;
    background-size: contain;
    margin-top:15px;
  }
  .content-row {
      min-height: 300px;
  }
  h1 {
    font-size: 20px;
    font-weight: 300;
    border: none !important;
  }

  .dialog {
    margin-top: 45px;
  }

  ul#footer-nav {
  padding-left:0px;
  list-style: none;

  /* unvisited link */
  a {
      color: $veeta-dark-gray ;
      font-weight: $font-weight-default !important;
  }

  /* visited link */
  a:visited {
    //  color: #00FF00;
  }

  /* mouse over link */
  a:hover {
    color: $veeta-dark-gray ;
    text-decoration: none;
  }

  /* selected link */
  a:active {
    //  color: #0000FF;
  }
  li {
    float: left;
    padding-right: 15px;
  }
}
}

#veeta-button {

  .veeta-logo {
    margin: 0 auto 0 auto;
    width: 820px;
    background: image-url('veeta_logo_inverted.png') no-repeat 40px;
    height: 35px;
    background-size: contain;
    margin-top:15px;
  }

}

.veeta-logo-container{
  margin: 0 auto 0 auto;
  height: 65px;

}



.veeta-logo-inverted {
  margin: 0 auto 0 auto;
  background: image-url('veeta_logo_inverted.png') no-repeat 40px;
  height: 35px;
  background-size: contain;
  margin-top:15px;
}


a:link.normal {
  color: $veeta-dark-accent;
  font-weight: $font-weight-default;
}

/* visited link */
a:visited.normal {
  color: $veeta-dark-accent;
}

/* mouse over link */
a:hover.normal {
  color: $veeta-dark-accent;
  text-decoration: underline;
}


.center-box {
  margin: 0 auto 0 auto;

}

.content-area {
  background-color: white;

  .form-actions {
      text-align: center;
  }

  ul {
    list-style-position: inside;
    padding-left:0px;
  }

  margin: 0 auto 0 auto;
  padding: 40px;
  .text-primary.lead {
    color:$veeta-font-color;
  }

  a {
    padding-top: 9px;
  }

  .info-area {
    margin: 15px 0 25px 0;
  }

  .forgot-password-area {
    margin: 15px 0 25px 0;

  }

  .sign-up-area {
    margin: 45px 0 0 0;

  }

  .resumes-list {
    min-height: 250px;
  }


  //resume selection list
  .list-group {

    .list-group-item {
      border-radius: 0;
    //  border:0px;
      border-color: white;
      border-width: 2px 2px 2px 2px;
      padding:3px 5px;
      &.active, &.active:hover{
        border-color: $veeta-green;
        background-color: $resume-selection-background;
        color: $veeta-font-color;
        border-width: 2px 2px 2px 2px;

      }
      &:hover {
        border-color: $veeta-green;
        background-color: $resume-selection-background;
        border-color: white;

      }


      .resume-detail-area {
        padding-left:70px;
        height:71px;
        vertical-align: middle;
        background: image-url('resume_big.png') no-repeat 0;
        background-size: 52px 65px;
        display: table;
        .inner {
          display: table-cell;
          vertical-align: middle;
        }
        .small-text {
          font-size: 12px;
        }
      }
    }


  }

}
