// Place all the styles related to the recruiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 24px !important;
  margin-top: 10px !important;
  border-bottom: 2px solid #4C868F;
  font-weight: 400 !important;
}

.recruiter_interface {
  .content-area {
    padding-top: 20px;
  }
}

.center-box {
  .nav {
    padding-left: 40px;
    padding-top: 10px;
  }

  .nav-pills > li{

      border-radius: 0 !important;
      background-color: $veeta-gray;
      color: $veeta-darker-gray;
      &.active{
        background-color: $veeta-dark-accent;
        color: white !important;
        a, a:hover, a:active {
          background-color: $veeta-dark-accent;
          color: white;
        }
      }
      a {
        background-color: inherit;
        font-weight: 400;
        color: $veeta-darker-gray;
        padding: 7px 15px;
      }
  }
}

.page-panel {
  .heading {

  }
  .body {
    .job-info {
      padding-bottom: 10px;
    }
    .job-box {
      border: 1px solid #4C868F;
      height: 100%;
      .job-box-heading {
        height: 40px;
        background-color: #4C868F;
        color: white;
        padding: 10px;
      }
      .jobs-table {
        width: 100%;
      }
      .talent-box-list{
        ul {
          margin-bottom: 0px;
        }
        .talent-table {
          margin-bottom: 0px;
          td {
            vertical-align: middle;
          }
        }
      }
      li {
        margin: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
      }
      .disabled-job {
        background-color: rgb(224, 224, 224);
      }
      .links {
        margin-top: 5px;
      }
      .add-job {
        input {
          height: 32px;
          width: 100%;
        }
      }
    }

    .job-edit-box {
      border: 1px solid #4C868F;
      height: 100%;
      width: 100%;
      margin-top: 30px;
      .job-edit-box-heading {
        height: 40px;
        background-color: #4C868F;
        color: white;
        padding: 10px;
      }
      .job-edit-box-details {

      }
    }


  }
  .sharing_request_box {
    max-width: 50%;
    background-color: #eee;
    padding: 10px 15px;
    margin-top: -50px;
    .apply-button {
      height: 40px;
      //margin-left: -35px;
      margin-bottom: 5px;
      background: image-url('myveeta_apply_button.png') no-repeat;
      background-size: contain;
    }
    .apply-button-description {
      margin-bottom: 8px;
    }
    .embed-code {
      width: 70%;
      font-size: 10px;
      margin: 0px;
      height: 35px;
      background: white;
      border: 1px solid black;
      padding: 4px;
      overflow: scroll;
      float:left;
    }
    #copy-embed-code-to-clipboard {
      margin-top: 4px;
    }
  }
}
