$color-primary:  #8abc1c;

// Veeta Custom

$veeta-light-accent: #6CCDB3;
$veeta-dark-accent: #4C868F;
$veeta-dark-gray: #888;

$font-weight-default: 400;

//$veeta-green: #8abc1c;
$veeta-green: $veeta-dark-accent;
$veeta-green-lter: #effbd5;
$veeta-green-dker: #4f8d18;

$veeta-red: #C31713;

$veeta-gray: #ddd;

$veeta-darker-gray: #4d4d4d;
$bg-gray: #f4f4f3;
$bg-light: #fdfcfc;
$bg-dark: #ccc;

//$border-light: #cac9c9;
$border-light: #dadada;

$border-dark: #ccc;

$veeta-font-color: #4D4D4D;
$veeta-font-smooth: #797979;
$veeta-font-color-lter: #828282;
$veeta-font-color-ltest: #969696;

$veeta-font-color-dker: #333;
$veeta-font-color-danger: $veeta-red;

$veeta-border-color: #ccc;

$page-common-header-height: 100px;
$page-header-height: 65px;
$page-header-with-login-height: 100px;
$page-footer-height: 90px;
$page-wrapper-width: 950px;

// Colors
$brand-primary: $veeta-green;

// Scaffolding
$body-bg: $bg-gray;
$text-color: $veeta-font-color;

// Typography
$font-family-sans-serif: geometria, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;

// Components
$border-radius-base: 0px;

// Forms
$input-border: $veeta-border-color;
$input-border-focus: $veeta-green;
$input-height-base: 24px;
$input-height-large: 36px;



//new for veetabutton
$resume-selection-background: #DBF3EC;
