<% if _experience.job_level == Rs::WorkExperience::job_level.intern %>
  <div>
    <i><%= I18n.t('talent.data.job_level.internship').html_safe %><%= (_experience.industry.present? || _experience.terms_of_employment.present?) ? ', ' : "<br/>".html_safe %></i>
  </div>
<% end %>
<% unless  _experience.terms_of_employment.blank? %>
  <div>
    <i><%= toe_with_label(_experience.terms_of_employment) %><%= (_experience.industry.present?) ? ', ' : "<br/>".html_safe %></i>
  </div>
<% end %>
<% unless  _experience.industry.blank? %>
  <div>
    <i><%= industry_with_label(_experience.industry) %></i><br/>
  </div>
<% end %>
<% unless _experience.description.blank? %>
  <div>
    <%= raw(html_encode _experience.description) %>
  </div>
<% end %>
