@font-face {
  font-family: "geometria";
  src: font-url("geometria-light.eot");
  src: font-url("geometria-light.eot?#iefix") format("embedded-opentype"),
  font-url("geometria-light.woff") format("woff"),
  font-url("geometria-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria-medium.eot");
  src: font-url("geometria-medium.eot?#iefix") format("embedded-opentype"),
  font-url("geometria-medium.woff") format("woff"),
  font-url("geometria-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: "geometria";
  src: font-url("geometria-regular.eot");
  src: font-url("geometria-regular.eot?#iefix") format("embedded-opentype"),
  font-url("geometria-regular.woff") format("woff"),
  font-url("geometria-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}
