<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= ENV['GA_TRACKING_ID'] %>', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');


  $('[data-toggle="popover"]').popover({
        html: true,
        trigger: 'manual'
    }).click(function(e) {
        $(this).popover('toggle');
        e.preventDefault();
    });

  $(document).click(function(e) {
      if (!$(e.target).is('.popup-marker, .popover-title, .popover-content')) {
          $('.popup-marker').popover('hide');
      }
  });
</script>
