<!DOCTYPE html>
<html>
<head>
  <title>myVeeta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 veeta-header">
        <div class="row">
          <div class="col-md-12 veeta-logo-container">
            <div class="veeta-logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 center-box">
        <div class="content-area">
          <%= yield %>
        </div>
      </div>

<!--       <div class="col-md-4">
      </div>
 -->    </div>
  </div>
  <%= render 'layouts/ga_footer' %>
</body>
</html>
