<!DOCTYPE html>
<html>
<head>
  <title>myVeeta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="common" id="common">
  <div class="container-fluid">
  	<div class="row veeta-header">
  		<div class="col-md-4">
  		</div>
  		<div class="col-md-4 veeta-logo">
  		</div>
  		<div class="col-md-4">
  		</div>
  	</div>
  	<div class="row content-row">
  		<div class="col-md-4">
  		</div>
  		<div class="col-md-4">
        <%= yield %>
  		</div>
  		<div class="col-md-4">
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  		</div>
  		<div class="col-md-4">
        <div class="footer-links">
          <ul id="footer-nav">
            <li translate="talent.ui.layout.footer.home" class="ng-scope"><%= t('talent.ui.layout.footer.home').html_safe %></li>
            <li translate="talent.ui.layout.footer.contact" class="ng-scope"><%= t('talent.ui.layout.footer.contact').html_safe %></li>
            <li translate="talent.ui.layout.footer.about" class="ng-scope"><%= t('talent.ui.layout.footer.about').html_safe %></li>
            <li translate="talent.ui.layout.footer.terms" class="ng-scope"><%= t('talent.ui.layout.footer.terms').html_safe %></li></ul>
        </div>
  		</div>
  		<div class="col-md-4">
          <%= render 'layouts/ga_footer' %>
  		</div>
  	</div>
  </div>


  <!--div class="container-fluid">
    <div class="row">
      <div class="col-md-12 veeta-header">
        <div class="row">
          <div class="col-md-12 veeta-logo-container">
            <div class="veeta-logo common">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 center-box">
        <div class="content-area">
          <%= yield %>
        </div>
      </div>

<!--       <div class="col-md-4">
      </div>
 ->    </div>
  </div-->
</body>
</html>
